name: Renovate
on:
  schedule:
    - cron: '0 14 * * 2'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    env:
      RENOVATE_AUTODISCOVER: true 
      RENOVATE_PLATFORM: github
      RENOVATE_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Renovate
        uses: renovatebot/github-action@v46.1.1
