name: Renovate
on:
  schedule:
    - cron: '0 */12 * * *'  # every 6 hours
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.1.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
